#p3 {
	color: green;
}
* {
	font-family: "Monaco", monospace; font-size: 20px;
}
h1 {
	font-size: 80px;
}

#h2 {
	text-transform: uppercase;
}

.list1 {
	background-color: #C1ABA6;
}

.list2 {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

img + ul {
	list-style: square;
}
section img {
	height: 300px;
	width: 300px;
}

h4 ~ p {
	text-decoration: underline;
}
body > section > h4 {
	letter-spacing: 3px;
}

